@{
	Layout = null;
}
<input name="input-cargo-input-id" value="@Model.Id" hidden readonly />
<div class="mb-3">
    <label for="input-cargo-input-trackcode" class="form-label">Трек-номер:</label>
    <input type="text" class="form-control input-cargo" id="input-cargo-trackcode" name="input-cargo-input-trackcode" value="@Model.NumberTrackCode" readonly>
</div>
<div class="mb-3">
    <label for="input-cargo-input-state">Статус:</label>
    <input type="text" class="form-control input-cargo" id="input-cargo-state" name="input-cargo-input-state" value="@Model.StateName" readonly>
</div>
<div class="mb-3">
    <label for="input-cargo-input-weight" class="form-label">Вес:</label>
    <input type="text" class="form-control input-cargo" id="input-cargo-weight" name="input-cargo-input-weight" value="@Model.Weight кг" readonly>
</div>
<div class="mb-3">
    <label for="input-cargo-input-volume" class="form-label">Объем:</label>
    <input type="text" class="form-control input-cargo" id="input-cargo-volume" name="input-cargo-input-volume" value="@Model.Volume м3" readonly>
</div>
<div class="mb-3">
    <label for="input-cargo-input-link" class="form-label">Ссылка на товар:</label>
    <input type="text" class="form-control input-cargo" id="input-cargo-link" name="input-cargo-input-link" value="@Model.Link" readonly>
</div>
<div class="mb-3">
    <label for="textarea-cargo-textarea">Описание:</label>
    <textarea class="form-control" id="textarea-cargo-textarea" name="textarea-cargo-textarea" rows="5" cols="33" readonly>@Model.Description</textarea>
</div>
<div class="mb-3">
    <label for="comment-cargo-comment">Комментарий:</label>
    <textarea class="form-control" id="comment-cargo-comment" name="comment-cargo-comment" rows="5" cols="33" readonly>@Model.Comment</textarea>
</div>
