@model IEnumerable<cargosiklink.Models.ViewModel.NumberTrack.NumberTrackViewModel>;
<div class="cargo-code-button text-center">
    <a class="btn btn-cargo-card cargo-font" onclick="openCreateModal(numberTracks)" id="btnCreateCode"><span>Добавить</span><br /> трек-номер</a>
</div>

@foreach(var numberTrack in Model)
{
    <div class="cargo-main-container">
        <div class="card text-center">
            <div class="card-header">
                Статус: <span class="cargo-font">@numberTrack.StateName</span>
            </div>
            <div class="card-body" style="background-color:@numberTrack.Color">
                <h5 class="card-title">Номер: <span class="cargo-font">@numberTrack.NumberTrackCode</span></h5>
                <p class="card-text">Описание: <span class="cargo-font">@numberTrack.Description</span></p>
                <a class="btn btn-danger cargo-font" onclick="openDeleteModal({ object: numberTracks, data: '@numberTrack.Id' })" id="btnDelete">Удалить</a>
            </div>
            <div class="card-footer text-muted">
                Дата: <span class="cargo-font">@numberTrack.Date</span>
            </div>
        </div>
    </div>
}

